<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>BLOCKS - Bootstrap Dashboard Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/bootstrap/css/bootstrap.min.css" />

    <!-- DATA TABLE CSS -->
    <link href="~/Content/assets/css/table.css" rel="stylesheet">

    <script type="text/javascript" src="~/Content/assets/js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/Content/assets/js/admin.js"></script>

    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Google Fonts call. Font Used Open Sans -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

    <!-- DataTables Initialization -->
    <script type="text/javascript" src="~/Content/assets/js/datatables/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8">
  			    $(document).ready(function () {
  			        $('#dt1').dataTable();
  			    });
    </script>


</head>
<body>

    <!-- NAVIGATION MENU -->

    <div class="navbar-nav navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="~/Content/assets/images/logo30.png" alt=""></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ><a href="/QLSanPham/Index"><i class="icon-home icon-white"></i>Quản lý</a></li>
                    <li ><a href="/ThongKe/Index"><i class="icon-th icon-white"></i>Thống kê</a></li>
                    @*<li><a href="login.html"><i class="icon-lock icon-white"></i> Login</a></li>
                    <li><a href="user.html"><i class="icon-user icon-white"></i> User</a></li>*@

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">

        <!-- CONTENT -->
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h4><strong>Basic Table</strong></h4>
                @RenderBody()
                <br>
            </div><!--/span12 -->
        </div><!-- /row -->
    </div> <!-- /container -->
    <br>
    <br>
    <!-- FOOTER -->
    <div id="footerwrap">
        <footer class="clearfix"></footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <p><img src="~/Content/assets/images/logo.png" " alt=""></p>
                    <p>Blocks Dashboard Theme - Crafted With Love - Copyright 2013</p>
                </div>

            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /footerwrap -->
   
</body>
</html>